footer{
    .nav{
        .nav-item{
            cursor: pointer;
            &:hover{
                color:$white !important;
            }
            .social-media{
                &:hover{
                    background-color:$white;
                }
            }
            
        }
    }
}