//header  style
header {
    background-image: url("./../../assets/images/desktop/image-header.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 576px) {
        background-image: url("./../../assets/images/mobile/image-header.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 530px;
    }
    .sidebar {
        position: absolute;
        width: 100%;
        transition: all 0.5s ease-in-out;
        left: 100%;
        nav::after {
            position: absolute;
            top: 4px;
            right: 24px;
            content: "";
            width: 0px;
            height: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid $white;
            border-top: 10px solid transparent;
            border-bottom: 10px solid $white;
        }
        nav{
            .nav{
                .nav-item{
                    &.active {
                        background-color: hsl(48deg 96% 60%);
                        color: $black !important;
                    }
                    &:hover:not(.active) {
                        background-color:hsla(48, 96%, 60%, 0.541);
                        color: $black;
                    }
                }
            }
        }
    }
    // open menu 
    #menu {
        &:checked {
            ~ .sidebar {
                left: 0;
            }
        }
        .header-wrapper {
            @media (max-width: 576px) {
                padding: 1.5rem !important;
            }
        }
    }
    .logo {
        img {
            width: 200px;
            @media (max-width: 576px) {
                width: 100px;
            }
        }
    }

    .nav {
        cursor: pointer;
        .nav-item {
            &.active {
                background-color: $white;
                color: $black;
                padding: 10px 25px;
                border-radius: 50px;
            }
            padding: 10px 25px;
            border-radius: 50px;
            transition: 0.5s;
            &:hover:not(.active) {
                background-color: $white;
                color: $black;
            }
        }

        @media (max-width: 576px) {
            &.desktop-manu {
                display: none;
            }
        }
    }

    .menu {
        display: none;
        @media (max-width: 576px) {
            display: block;
        }
    }
    .text-wrapper {
        padding: 70px;
        h1 {
            font-size: 70px;
            text-transform: uppercase;
            letter-spacing: 15px;
            font-weight: 900;
            @media (max-width: 576px) {
                font-size: 40px;
                letter-spacing: 2px;
                text-align: center;
            }
        }
    }
}
